<AuthorizeView>
    <Authorized>
          <form class="float-end" method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out @context.User.Identity?.Name</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
