@inherits Fluxor.Blazor.Web.Components.FluxorLayout
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<style>
        footer {
            position: relative;
            margin-top: -50px; /* negative value of footer height */
            height: 50px;
            clear: both;
            background-color:white;
            color:black;
        }
    </style>
</head>
<PageTitle>BugTrack</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="">
            <LoginDisplay />           
        </div>

        <article class="content px-4" style="padding-bottom:70px;  min-height:100%;">
            @Body
        </article>
        <footer class=" text-center text-lg-start">
     <!-- Copyright -->
            <div class="text-center">
            © 2022 Copyright:
               <a class="text-dark" href="https://mvc.tech">MVC.tech</a>
            </div>
            <!-- Copyright -->
        </footer>
       
    </main>
    
</div> 

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}