@page
@using BugTrack_UI.Areas.Identity.Pages.Account;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<style>
    body {
        background-color: black;
        color: white;
    }
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 100px);
    }

    @@media (max-width: 450px) {
        .h-custom {
            height: 90%;
        }
    }
</style>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/img/BUG Track.svg" class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h1>Register</h1>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label style="color:black;" asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="name@example.com" />
                        <label style="color:black;" asp-for="Input.FirstName">First name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="name@example.com" />
                        <label style="color:black;" asp-for="Input.LastName">Surname</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label style="color:black;" asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label style="color:black;" asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    <div>
                        <p>
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Copyright -->
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
